name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
      
    - name: Deploy Nuget Package
      uses: Rebel028/publish-nuget@2.6.1
      with:
        NUGET_KEY: ${{ secrets.GTT_GITHUB_NUGET }}
        PROJECT_FILE_PATH: Gtt.FastPass/Gtt.FastPass.csproj
        TAG_FORMAT: Gtt.FastPass.*
